## 1. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [7]:
Student_name = input("Enter the name : ")               #Taking name from user
Roll_Number = input ("Enter the roll number : ")        #Taking Roll number from user 
Mark = input ("Enter the mark : ")                      #Taking mark from user
print("Name : "+Student_name, "Roll Number : "+Roll_Number, "Mark : "+Mark, sep='\n')    #Printing the details

Enter the name : Anisha
Enter the roll number : 23
Enter the mark : 98
Name : Anisha
Roll Number : 23
Mark : 98

## 2. Write a Python program to convert temperatures to and from Celsius Fahrenheit

In [11]:
Temp_Far = float(input("Temperature in Fahrenheit "))                #Taking input from user
Temp_Deg = round((Temp_Far-32)*(5/9))                                #Conversion formula, round off value
print("Temperature in Fahrenheit =",Temp_Far,"\nTemperature in Celsius = ",Temp_Deg)  #Printing the results

Temperature in Fahrenheit 69
Temperature in Fahrenheit = 69.0
Temperature in Celsius =  21

## 3. Write a Python program to accept two numbers from the user and display its product

In [13]:
First_Num = float(input("Enter First Number "))         #Taking first number from user
Second_Num = float(input("Enter Second Number "))       #Taking Second number from user
Product_Num = First_Num * Second_Num                    #Finding the product of two numbers
print("Product of Given numbers = ",Product_Num)        #Printing the results

Enter First Number 58.3
Enter Second Number 693
Product of Given numbers =  40401.9

## 4. Write a Python program to accept a string “Learn Python by Developing a Website”
## and display the string like “Learn**Python** by Developing a **Website**”

In [9]:
print("Learn","Python","by Developing a","Website","", sep="**") #Printed with "sep" key word

Learn**Python**by Developing a**Website**

## 5. Write a Python program to accept the radius of a circle and display its area

In [10]:
import math                                    #Importing the Library
Radius = float(input("Enter the Radius : "))   #Taking radius value as input
Area = round(math.pi*(Radius*Radius),4)        #Area calculation
print("Area of the circle = ",Area)            #Printing the results

Enter the Radius : 6
Area of the circle =  113.0973

## 6. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [13]:
Mylist = [12,9,8,3]                          #Defining the list
value = int(input("Enter the number : "))    #Taking input from the user
position = int(input("Enter the position: ")) #Taking position
position1 = position - 1                   #Converting position value to index number
Mylist.insert(position1, value)           #Inerting value in the specified position
print("Updated List is :",Mylist)         #Printing the updated list

Enter the number : 85
Enter the position: 6
Updated List is : [12, 9, 8, 3, 85]

## 7. Write a program to rename a key city to a location in the following dictionary.
## sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [19]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}  #Given dictionary
sample_dict["location"] = sample_dict["city"]     #Replacing with given value
print("final dictionary", sample_dict)            #Printing the updated dictionary

final dictionary {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York', 'location': 'New York'}

## 8. Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [23]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}                                                    #Given Input
sample_dict['emp2']['salary'] = 8500                 #Value updated with the given value
print("Updated Dictionary: ",sample_dict)            #Updated Dictionary

Updated Dictionary:  {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8500}, 'emp3': {'name': 'Brad', 'salary': 500}}

## 9. Write a program to copy elements 43 and 54 from the following tuple into a new tuple. Given:
## tuple1 = (10, 20, 43, 54, 56, 68)

In [25]:
tuple1 = (10, 20, 43, 54, 56, 68)     #given input
tuple2 = tuple1[2:4]                  #Tuple slicing for given result
print("New Tuple :", tuple2)         #Printing the result

New Tuple : (43, 54)

## 10. Counts the number of occurrences of item 50 from a tuple
## tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [27]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)    #Given input
print("Number of occurance of 50 is :", tuple1.count(50))   #counting the occurance

Number of occurance of 50 is : 3